/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 


    h1{
        padding-top: 1rem;
    }
    p{
        text-align: justify;
        word-spacing: 0.45rem;
    }

 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    
    h1{
        padding-top: 1rem;
    }
    p{
        text-align: justify;
    }


 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  
    h1{
        padding-top: 1rem;
    }
    p{
        text-align: justify;
    }

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  
    p{
        text-align: justify;
    }

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
  
    p{
        text-align: justify;
    }

 }


/* Extra Estra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { 
  
    p{
        text-align: justify;
    }

 }